<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="AccessConnectionString" value="Provider = Microsoft.ACE.OLEDB.12.0;Data Source = .\\Data\\BC.accdb;Jet OLEDB:Database Password = 123456" />
  </appSettings>
</configuration>